body {
    background-color: #F3F3F3;
    font-family: sans-serif;
}

.all-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

#heading,
#subheading {
    text-align: center;
}

#heading {
    font-size: 40px;
    color: #404040;
}

#subheading {
    font-size: smaller;
    margin-top: 15px;
    color: #525252;
}

.card-list {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    gap: 15px;

}

.card {
    border: solid 2px #E5E7EB;
    /* width: 300px; */
    width: 15rem;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
}

#led-light {
    padding: 40px;
    background-color: #525252;
    border-radius: 20px;
    border: dotted 1px #525252;
}

img {
    align-self: baseline;
}

.card-heading {
    color: #11181C;
    font-weight: bold;
}

.card-description {
    color: #11181C;
    height: 2rem;
}

img {
    height: 50px;
    width: auto;
}

.control {
    background-color: #F4F4F5;
    border-radius: 15px;
    padding: 20px;
}

.control:hover {
    background-color: #bdbdbf;
    input {
        background-color: #bdbdbf;
    }
}

.cont-heading {
    color: #52525B;
    font-size: 17px;
}

input {
    border: none;
    background-color: #F4F4F5;
    width: 50%;
}

#acStateLight{
    background-color: #db5a5a;
}

#acStateLight .cont-heading{
    color: whitesmoke;
}
#ac-state{
    background-color: #db5a5a;
    color: white;
}

button{
    width: 10%;
    margin: auto;
    background-color:  white;
    border: solid 2px #E5E7EB;
    color: black;
    padding: 15px;
    border-radius: 15px ;
}

button:hover {
    background-color:  #bdbdbf;
}

#acTempValue{
    background-color: #FFA500;
}
#acTempIndicator{
    background-color: #FFA500;
}